<h1>comments index</h1>

<% @recipe.comments.each do |comment| %>
<ul>
  <li><%= comment.content %>
  by: <%= comment.user.name %></li>
</ul>
<% end %>

<br><br>

<%= form_tag(recipe_comments_path) %>

  <%= label_tag "Add Your Comment" %><br>
  <%= text_area_tag :content %><br>

  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :recipe_id, @recipe.id %>

<%= submit_tag "Add Comment" %>
