<div class="row">
  <div class='col-md-12 text-center'>
    <h1><%= @recipe.name.capitalize %> Comments</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <% @recipe.comments.each do |comment| %>
      <p class='well'><%= comment.content %><br>
      - <%= comment.user.name %></p>
    <% end %>
  <div id='wrapper'>
    <p id='newComment'></p>
    <p class='newUser'></p>
  </div>
  </div>
</div>
<div class="row">
  <div class='col-md-12 text-center'>
    <% if @message %>
    <% @message.each do |message| %>
    <div class='alert alert-danger'>
      <%= message %>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12 text-center'>
    <span class='error'></span>
    <div id='new_comment'>
      <%= render 'form' %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class='col-md-12 text-center'>
    <%= link_to "Back", :back %>
  </div>
</div>
<% content_for :comments do %>
  <script>
    $(function(){
      createComment();
    })

    var createComment = function() {
debugger;
      $('div#new_comment form').on("submit", function(event) {
        event.preventDefault();
        var comment = event['currentTarget']['2']['value'];
        var user_id = event['currentTarget']['3']['value'];
        var recipe_id = event['currentTarget']['4']['value'];
        var values = $(this).serialize();
        $.ajax({
          url: "/recipes/" + recipe_id + "/comments/",
          method: 'post',
          data: values,
          dataType: 'json'
        }).done(function(data) {
          $('.newUser').text("- " + "<%= current_user.name %>");
          $('#newComment').text(data.content);
          $('#wrapper').addClass('well');
        });
      })
    }

  </script>
<% end %>
