<div class="row">
  <div class='col-md-12 text-center'>
    <h1><%= @recipe.name.capitalize %> Comments</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <% @recipe.comments.each do |comment| %>
      <p class='well'><%= comment.content %><br>
      - <%= comment.user.name %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12 text-center'>
    <% if @message %>
    <% @message.each do |message| %>
    <div class='alert alert-danger'>
      <%= message %>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12 text-center'>
    <div id='new_comment'>
      <%= render 'form' %>
    </div>
  </div>
</div>

<% content_for :comments do %>
  <script>
    $(function(){
      createMethods();
    })

    var createMethods = function() {
      $('div#new_comment form').on("submit", function(event){
        event.preventDefault();
        var comment = event['currentTarget']['2']['value'];
        var user_id = event['currentTarget']['3']['value'];
        var recipe_id = event['currentTarget']['4']['value'];
        var values = $(this).serialize();
        $.ajax({
          url: "/recipes/" + recipe_id + "/comments/",
          method: 'post',
          data: values,
          dataType: 'json',
        }).done(function(data){
          $('div#new_comment form').hide();
          $('.newUser').text("<%= current_user.name %>" + " says:");
          $("#newComment").text(data['content']);
        });
      })
    }

  </script>
<% end %>
