<h1>Recipe Show Page </h1>
<%= @recipe.name %><br>
<%= @recipe.description %><br>
<%= @recipe.rating %><br>
<% @recipe.recipe_ingredients.each do |ingredient| %>
    <%= ingredient.quantity %>
    <%= ingredient.recipe.name %>
<% end %>
