<div class="row">
  <div class='col-md-12 text-center'>
    <h1><%= @recipe.name.capitalize %></h1>
  </div>
</div>
<div class="row well">
  <div class='col-md-12 text-center'>
    <h2>Info</h2>
    <p>Description: <%= @recipe.description.capitalize %><p>
    <p>Rating: <%= @recipe.rating %> out of 5</p>
    <p>This recipe was created by <%= @recipe.user.name.capitalize %></p>

    <h2>Ingredients</h2>
    <% @recipe.recipe_ingredients.each do |ing| %>
    <%= link_to ing.ingredient.ingredient_name.capitalize, edit_recipe_recipe_ingredient_path(recipe_id: ing.recipe_id, id: ing.ingredient_id) %> | Quantity: <%=ing.quantity %><br>
    <% end %>
  </div>
</div>

<div class="row well">
  <div class='col-md-12 text-center'>
    <h2>Comments</h2>
    <% @recipe.comments.each do |comment| %>
      <p class="well"><%= comment.content %><br>
      - <%= comment.user.name %></p>
    <% end %>
    <h4>Want to add a comment?</h4>
    <h4><%= link_to "Click Here", recipe_comments_path(@recipe.id, @comment), id: :comments %></h4>
  </div>
</div>
