<h1><%= @recipe.name.capitalize %></h1>

<p>Description: <%= @recipe.description %><p>
<p>Rating: <%= @recipe.rating %></p>
<p>This recipe was created by <%= @recipe.user.name %></p>

<h2>Ingredients</h2>
<% @recipe.recipe_ingredients.each do |ing| %>
<%= ing.ingredient.ingredient_name %>
<% end %>

<h1>Comments</h1>
<% @recipe.comments.each do |comment| %>

<ul>
  <li><%= comment.content %>
  by: <%= comment.user.name %></li>
</ul>
<% end %>
<h4>Want to add a comment?</h4>
<%= link_to "click here", recipe_comments_path(@recipe.id, @comment), id: :comments %>
